{% for b in blogs %}
    <li>{{b.title}}</li>
{% endfor %}


<div id='pagination' hx-swap-oob='true'>
    <span class='step-links'>
        {% if blogs.has_previous %}
            <button
                hx-get="?page={{blogs.previous_page_number}}"
                hx-target='#blog-list'
            >предидущая страница</button>
        {% endif %}
        
        {% if blogs.has_next %}
            <button
                hx-get="?page={{blogs.next_page_number}}"
                hx-target='#blog-list'
            >cледующая страница</button>
        {% endif %}
    </span>
</div>
