
{% extends "_base.html" %}
{% load static %}
{% load widget_tweaks%}
{% block title%} {% endblock title%}
{% block content %}

<div class="row mt-2">
	<div class='row'>
		{%for b in blogs%}
			<h3>{{b.title}}</h3>
			<p>{{b.text}}</p>
			<hr>
		{% endfor %}
	</div>
	<form action="" method='get'>
		<h3>БЛОГИ</h3>
		<label>поиск по заголовку</label>
		{%render_field filter.form.category %}
		{%render_field filter.form.title %}
		<button type ="sumbit" class='btn btn-primary'>поиск </button>
	</form>

	<ul>
		{%for b in filter.qs%}
		<li>{{b.title}}</li>
		{% endfor %}
	</ul>
<div>

{% endblock content %}