{% extends '_base.html' %}
{% block content %}
    <h3>список блогов</h3>
    <form action="" method="GET">
        <label for="">Название</label>
        <input class='form.control' type="text" name='q'>
        <label for="">Автор</label>
        <input class='form.control' type="text" name='q_user'>
        <button class="btn btn primary" type='sumbit'>
            Поиск 
        </button>
    </form> 
    <div class= "container">
        {%for b in blogs%}
        <h3>{{b.title}}</h3>
        <p>{{b.text}}</p>
        <hr>
        {% endfor %}
    </div>

    
{% endblock content %}
